<%- include('partials/head') %>
<%- include('partials/navbar') %>
    <h1>The Guitar's Page</h1>

    <ul>
      <% for (let guitar of guitars) { %>
      <li><%= guitar %></li>
      <% } %>
    </ul>
    <%- include('partials/footer') %>
