<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>The Home Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
      possimus minus eveniet, beatae, tempora quo quae laboriosam alias porro
      aut ex praesentium repudiandae qui magnam! Iusto blanditiis deleniti
      voluptas error.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tempora
      quasi nulla consequuntur sit doloribus ab libero a ut? Temporibus dolorum
      earum animi distinctio blanditiis, non quia ullam cumque? Explicabo.
    </p>
  </body>
</html>
